.heading h1{
    color: #1450dc;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.heading span{
    color: #fff;
}
.about_main p{
    padding: 50px 22%;
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}
@media (max-width: 600px){
    .about_main p{
        padding: 50px 4%;
        text-align: center;
    }
}

.about_socile {
    display: flex;
    justify-content: center;
    align-items: c;
}
.about_socile a{
    color: #fff;
    font-size: 30px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}
.about_socile a:hover{
    color: #1450dc;
}