.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 10%;
  background-color: #000;
}

@media (max-width: 700px) {
  .hero {
    flex-direction: column;
    padding: 150px 10%;
  }
  .img img {
    width: 250px;
    height: 250px;
    margin-top: 100px;
  }
}

.hero .text h1 {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  /* margin-right: 300px; */
}

.hero .text h2 {
  color: #fff;
  font-size: 32px;
}

.hero .text h3 {
  color: #fff;
}

.hero .text p {
  color: #fff;
}

.hero .text span {
  color: #1450dc;
}

.socile_media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: #1450dc;
  border: 2px solid #1450dc;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.socile_media a:hover {
  border: 2px solid #fff;
  color: #fff;
}

.btn a {
  padding: 10px 40px;
  border: 2px solid #1450dc;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  background-color: #1450dc;
  box-shadow: 0px 4px 0px 0px rgba(rgb(20, 80, 220));
}

.img img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

@media (max-width: 500px) {
  .btn a {
    padding: 5px 20px;
  }
  .img {
    margin-top: 8px;
  }
  .img img {
    width: 300px;
    height: 300px;
  }
}