.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar  a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #ffff;
}

.nav  a{
    margin: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
}
.nav a:hover{
    color: #1450dc;
}